In [19]:
import pandas as pd
record = '''
          {
              "0":{
                  "Identity": "Sam",
                  "Age": "19"
              },
              "1":{
                  "Identity": "Tom",
                  "Age": "14"
              },
              "2":{
                  "Identity": "Mac",
                  "Age":"11"
              }
          }
    '''

df = pd.read_json(record, orient ='index')
print(df)

  Identity  Age
0      Sam   19
1      Tom   14
2      Mac   11

In [26]:
import pandas as pd
df = pd.read_json('sample.json')

In [25]:
import pandas as pd

df = pd.read_json('sample.Json')

print(df.to_string())

                                                                                              people
0   {'firstName': 'Joe', 'lastName': 'Jackson', 'gender': 'male', 'age': 28, 'number': '7349282382'}
1   {'firstName': 'James', 'lastName': 'Smith', 'gender': 'male', 'age': 32, 'number': '5678568567'}
2  {'firstName': 'Emily', 'lastName': 'Jones', 'gender': 'female', 'age': 24, 'number': '456754675'}

In [21]:
import json
import pandas as pd

In [35]:
pd.read_json('sample.json')

                                              people
0  {'firstName': 'Joe', 'lastName': 'Jackson', 'g...
1  {'firstName': 'James', 'lastName': 'Smith', 'g...
2  {'firstName': 'Emily', 'lastName': 'Jones', 'g...

In [44]:
df2 = pd.read_json('sample.json', orient ='index=1')
print(df2)

                                              people
0  {'firstName': 'Joe', 'lastName': 'Jackson', 'g...
1  {'firstName': 'James', 'lastName': 'Smith', 'g...
2  {'firstName': 'Emily', 'lastName': 'Jones', 'g...

In [47]:
df = pd.read_json("sample.json")

bn=pd.DataFrame(df)['people']

pd.json_normalize(bn).head()

  firstName lastName  gender  age      number
0       Joe  Jackson    male   28  7349282382
1     James    Smith    male   32  5678568567
2     Emily    Jones  female   24   456754675